.banner {
 height: 400px;
 background: linear-gradient(135deg, rgba(0,0,0,0.8)0%, rgba(0,0,0,0.3)50%), url(../../images/background.png);
 background-size: cover;
 padding: 7%;
 color: antiquewhite;
 position: relative;
 text-align: center;
}
.banner h1 {
 font-size: 50px;
}

.banner p {
 font-weight: lighter;
 font-size: 20px;
 opacity: 0.6;
}
.btn-banner {
 border: 1px solid transparent;
 padding: 10px;
 background-color: teal;
 border-radius: 15px;
 font-weight: bold;
 color: violet;
 opacity: 0.6;
}
.btn-banner:hover {
 opacity: 1;
}